body {
	font-size: 25px;
	font-family: helvetica;
	font-weight: bold;
}

/*first row*/
#tempo_row {
	color: white;
}

#bpm {
	background-color: teal;
	border: none;
	padding: 15px 35px;
	text-align: center;
	display: inline-block;
}

#increment_bpm {
	display: inline-block;
}

#inc_tempo {
	padding: 15px 35px;
	background-color: black;
	display: inline-block;
}

#dec_tempo {
	padding: 15px 35px;
	background-color: black;
	display: inline-block;
}

/*second row*/
#tempo_slider {

}

/*third row*/
#time_sig {
	padding: 25px;
	background-color: green;
	font-size: 25px;
	display: inline-block;
}

#numerator {
	display: inline-block;
}

#denominator {
	display: inline-block;
}

/*Fourth Row*/
#beat_subdiv {

}

/*Fifth Row */
#sound_pack {

}

#first_beat_accent {
	padding: 25px 15px;
	font-size: 15px;
	background-color: black;
	color: white;
	display: inline-block;
}


/*Sixth Row*/
#volume_slider {

}

/*Seventh Row*/
#beat_count {
	padding: 25px 35px;
	display: inline-block;
}

#start_button {
	padding: 25px 55px;
	font-size: 15px;
	background-color: black;
	color: white;
	display: inline-block;
}

/*Eighth Row*/
#timer_title {

}

#minutes {
	display: inline-block;
}

#seconds {
	display: inline-block;
}
