body {
	/*font-size: 25px;*/
	font-family: helvetica;
	font-weight: bold;
	padding-left: 30px;
}

/*.button:active {
	border-style: solid;
	border-color: gray;
	border-width: 2px;
}*/

/*General*/

.dropdown {
	margin-top: 5px;
	margin-bottom: 5px;
}

.slider {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 150px;
}


/* Redesign */

.container {
	width: 90%;
	margin-right: 30%;
	box-sizing: border-box;
}

.wrapping_card {
	border-radius: 0.5em;
	border-style: solid;
	margin-bottom: 20px;	
}

/* ~~ First row ~~ */
#status_card {

}

#bar_counter {
	display: inline-block;
	width: 25%;
	height: 100%;
}

#beat_count {
	display: inline-block;
	width: 40%;
	height: 100%;
}

#timer {
	display: inline-block;
	width: 25%;
	height: 100%;
}

#timeplz {
	/*font-size: 60%;*/
}

#pie_timer {
	/*font-size: 70%;*/
}

.time_reset {
	padding: 10px 10px 10px 10px;
	background-color: black;
	font-size: 15px;
	color: white;
	text-align: center;
}

/* ~~ Second row ~~ */

#settings_config_row {

}

.individual_card {
	border-radius: 0.25em;
	border-style: solid;
	border-width: 2px;
	margin: 5px;
	width: 30%;
	display: inline-block;
}

/* First card */
#tempo_card {
	
}

#bpm {
	background-color: teal;
	border: none;
	padding: 15px 35px;
	text-align: center;
}

#tempo_slider {
	display: inline-block;
}

#inc_tempo {
	padding: 15px;
	background-color: black;
	display: inline-block;
}

#dec_tempo {
	padding: 15px;
	background-color: black;
	display: inline-block;
}

#increment_interval {
	width: 55px;
	color: black;
	display: block;
}

/* Second card */
#time_sig {
	display: inline-block;
}

#time_sig_menu {
	padding: 20px;
	background-color: green;
	font-size: 25px;
	display: inline-block;
	margin-bottom: 10px;
}

#numerator {
	display: inline-block;
}

#denominator {
	display: inline-block;
}

#first_beat_accent {
	padding: 25px 15px;
	font-size: 15px;
	background-color: black;
	color: white;
	width: 140px;
}

/* Third card */
.beat-subdiv-icon {
	padding: 10px;
	background-color: red;
	margin: 10%
}

#quarter-notes {
	background-color: green;
	display: inline-block;
}

.eighths {
	background-color: blue;
	display: inline-block;
}

#triplets {
	background-color: orange;
	display: inline-block;
}

.sixteenths {
	background-color: grey;
	display: inline-block;	
}

#beat_subdiv {
	display: block;
}

#beat_subdiv_menu {
	display: inline-block;
}



/* ~~ Third row ~~ */
#start_button {
	padding: 25px 55px;
	font-size: 15px;
	background-color: black;
	color: white;
	display: inline-block;
}

#volume {
	font-size: 20px;
	display: inline-block;
}

#sounds {
	display: inline-block;
}

#sound_icons {
	display: inline-block;
}

#beat_count {
	font-size: 40px;
	padding: 15px 35px 5px;
	display: inline-block;
	text-align: center;
}

