body {
	font-size: 25px;
	font-family: helvetica;
	font-weight: bold;
	padding-left: 30px;
}

#metronome {
	padding: 0 40px 0 40px;
	display: inline-block;
	width: 100%;
}

#pie_timer {
	display: inline-block;
}

/*.button:active {
	border-style: solid;
	border-color: gray;
	border-width: 2px;
}*/

/*first row*/
#tempo_row {
	color: white;
}

#bpm {
	background-color: teal;
	border: none;
	padding: 15px 35px;
	text-align: center;
	display: inline-block;
}

#increment_bpm {
	display: inline-block;
}

#inc_tempo {
	padding: 15px 35px;
	background-color: black;
	display: inline-block;
}

#dec_tempo {
	padding: 15px 35px;
	background-color: black;
	display: inline-block;
}

#increment_interval {
	width: 55px;
	color: black;
}

/*second row*/
#tempo_slider {

}

/*third row*/
#time_sig {
	display: inline-block;
}

#time_sig_menu {
	padding: 25px;
	background-color: green;
	font-size: 25px;
	display: inline-block;
	margin-bottom: 10px;
}

#numerator {
	display: inline-block;
}

#denominator {
	display: inline-block;
}

/*Fourth Row*/
#beat_subdiv {
	display: inline-block;
}

#beat_subdiv_menu {
	display: inline-block;
}

/*Fifth Row */
#sounds {
	display: inline-block;
}

#sound_pack {
	display: inline-block;
}

#first_beat_accent {
	padding: 25px 15px;
	font-size: 15px;
	background-color: black;
	color: white;
	display: inline-block;
}


/*Sixth Row*/
#volume {
	font-size: 20px
}

#volume_slider {

}

/*Seventh Row*/
#beat_count {
	font-size: 40px;
	padding: 15px 35px 5px;
	display: inline-block;
	text-align: center;
}

#start_button {
	padding: 25px 55px;
	font-size: 15px;
	background-color: black;
	color: white;
	display: inline-block;
}

/*Eighth Row*/
#timer_title {
	font-size: 25px;
}

#minutes {
	display: inline-block;
}

#seconds {
	display: inline-block;
}

input {
	width: 35px;
}

.dropdown {
	margin-top: 5px;
	margin-bottom: 5px;
}

.slider {
	margin-top: 10px;
	margin-bottom: 10px;
}

